<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawPal">
        <activity
            android:name=".ui.Welcome"
            android:exported="false" />
        <activity
            android:name=".ui.Orders"
            android:exported="false" />
        <activity
            android:name=".ui.Care"
            android:exported="false" />
        <activity
            android:name=".ui.Meditation"
            android:exported="false" />
        <activity
            android:name=".ui.Shop"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false" />
        <activity
            android:name=".ui.Onboard2"
            android:exported="false" />
        <activity
            android:name=".ui.Onboard3"
            android:exported="false" />
        <activity
            android:name=".ui.Onboard1"
            android:exported="false" />
        <activity
            android:name=".ui.Signin"
            android:exported="false" />
        <activity
            android:name=".ui.Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Launching"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>